@using GMLink.Controllers
@model IEnumerable<Purchase>

@foreach (var p in Model)
{
    
    
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <h3>
            <h3>
                    
                    <span class="float-right bg-success text-white rounded m-2 p-1">
                            <strong>@p.GroupName</strong>
                        @p.PurchaseID
                    </span>
                </h3>
        </h3>
    </div>
</div>


    
}

