@using GMLink.Controllers
@model Reservation
@{
    ViewBag.Title = "Edit Reservation";
    Layout = "_Layout";
}
   
<form asp-action="EditReservations" method="post">
    <input type="hidden" asp-for="ReservationID" />
    <input type="hidden" asp-for="GameMaster" value="@AccountController.CurrentUser.UserName"  />

    <div class="form-group">
        <label asp-for="About"></label>
        <textarea asp-for="About" class="form-control"></textarea>
    </div>
    <div class="form-group">
        
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="EditReservations" class="btn btn-default">Cancel</a>
    </div>
</form>