@*Jackson*@
<div class="text-center">
    <p>About GM Link<br />
        GM Link is a online tool to connect players of Table-Top Role Playing Games (TTRPG) to Game Masters (GM). <br />
        We do this by having GMs that want to host a game post an opening to our site.<br />
        A player can then reserve this opening with the GM to play.<br />
        When a GM opening is reserved the player pays the GM for their time.<br />
        GM Link generates revenue by taking a small fee out of what the player pays the GM.<br />
        <br />
        CEO: John Foster<br />
        CFO: Matthieu Joeseph<br />
        CIO: riley Tittle<br />
        Cheif Intern: Jackson Amstead<br />
        <br />
        Thank you for using GM Link!<br />
    </p>
</div>
