@*John Foster*@

<style>
    a:link{
        color:black;
        text-decoration: none;
    }
    a:visited{
        color:dimgrey
    }
    div.container{
        padding: 20px;
    }
    div.card{
        padding-left: 10px;
        padding-right: 10px;

    }
</style>
<div>
    <h1> <p><a name="header"> FAQ</p></a></h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target1"> 1: What is GMLink?</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target2"> 2: Who can post reservations to GMLink?</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target3"> 3: How much does it cost to rent a Game Master?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target4"> 4:  Whats required to play D&D with a game master</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target5"> 5: How can I make more Money as a Game Master?</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target6"> 6: I Don't know many people who play D&D what can I do to find players</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target7"> 7: How can I see my purchased reservations?</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target8"> 8: Where Can I see a list of reservations available for booking?</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target9"> 9: Can I split the cost of a reservation with other players?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center m-3 rounded">
                <a href="#target10"> 10: Is GMLink only for Dungeons and Dragons?</a></p>
            </div>
        </div>
    </div>
</div>


</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
            <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target1" href="#header">1: What is GMLink</a></p>
            <p>
             A: GMLink is company that allows fans of table top role playing games to hire experienced Game Master to run 
             their games for them. 
            </p>
            </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target2" href="#header">2:   Who can post reservations to GMLink?</a></p>
            <p>A:   Any one with an Account is free to create a reservation system and offer their services as A GM.
            </p>
        </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target3" href="#header">3:   How much does it cost to rent a Game Master?</a></p>
            <p>A:   Game Masters are free to set their own rate for four blocks of time. 
            </p>
        </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target4" href="#header">4: Whats required to play D&D with a game master</a></p>
            <p>A: Ideally players will access to high speed internet for group video chats and spare paper to keep track of events in the game.
            </p>
        </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target5" href="#header">5: How can I make more Money as a Game Master</a></p>
            <p>A: The rate you will be able to charge will be based off of the reviews your past players leave for you. Ideal the better the game you run the more you can charge!
            </p>
        </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target6" href="#header">6: I Don't know many people who play D&D what can I do to find players?</a></p>
            <p> A: Look through our Group section to see if any of the groups seem like they would be a good fit and ask to join.
            </p>
        </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target7" href="#header">7: How can I see my purchased reservations?</a></p>
            <p>A: When you complete a purchase on the site you will be given an order number. Uses this Order Number to search for it in sessions.
            </p>
        </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target8" href="#header">8: Where Can I see a list of reservations available for booking?</a></p>
            <p>A: A full list our currently available reservations can be found on our reservations page.
            </p>
        </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target9" href="#header">9: Can I split the cost of a reservation with other players</a>?</p>
            <p>A: Currently we do not have a cost sharing feature but one is in the works!
            </p>
        </span>
    </div>
</div>
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <p><a name="target10" href="#header">10: Is GMLink only for Dungeons and Dragons?</a></p>
            <p>
                A: No, Game Masters can host any game they feel like they can run with sucess!
            </p>
        </span>
    </div>
</div>
