@*Riley Tittle*@
<div>
    <p>FAQ</p>
    <p>1.) Who can post reservations to GMLink?</p>
    <p> A>) Any one with an Account is free to create a reservation system and offer their services as Gm
        to the general public
    </p>
</div>