@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GMLink!</h1>
    <h1 class="display-4">The Worlds go to destination for quality Game Masters!</h1>
    <img class="logo" src="https://www.publicdomainpictures.net/pictures/140000/velka/wizard-1446157975YBF.jpg" alt=" John ">
</div>
