
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <span class="float-right  text-black rounded m-2 p-1">
            <h3>April 28, 2023 - Launch Day!</h3>
            <p>
                On April 28, 2023, GMLink became functional enough to launch!<br />
                Our website is far from perfect, but it is now able to function<br />
                and connect players and GameMasters.
            </p>
        </span>
    </div>
</div>