<h1>Policies</h1>
<b>Last Updated: 4/27/23</b>
<h3>Cost of Products</h3>
<p>GMs are inclined to vary prices of their groups as desired. Prices may vary by GMs.</p>
<h3>Rates and Tax Policy</h3>
<p>Rates and sales taxes may vary by state.</p>
<h3>Return policy</h3>
<p>GM Link has a strict no return policy. Once sales are final, reimbursements are not allowed.</p>