

<h1> <p>Privacy Policies</p></h1>
<b>Last Updated: 4/27/23</b>
<p>
    This Privacy Policy explains how GM Link collects, uses, and protects your personal information when you visit GM Link. 
    By using our website, you agree to the terms of this Privacy Policy.
</p>
<h3>Information We Collect</h3>
<p>
    
    Personal Information: GM Link may collect personal information from you when you voluntarily provide it to us. This includes information such as your name, email address, 
    home address, phone number, and any other information you provide while interacting with our website.
</p>
<h3>Usage of information</h3>

<p> GM Link may use the information you've provided for us to provide you with the services requested. 
    GM Link may use this information to process payments and send you updates regarding your order.</p>
    <h3>Information Sharing</h3>
<p>GM Link will not sell, trade, or rent your personal information to third parties without your consent unless required by law or in response to valid legal processes, such as court orders, or government requests.</p>

<h3>Connections to Third Parties</h3>
<p>Due to the nature of our services, our website may contain links to third-party websites or services that are not operated by us. 
    GM Link does not have control over the privacy policies or practices of these websites. 
    GM Link encourages you to review the privacy policies of any third-party websites you visit.</p>
    <h3>Concerns</h3>
    <p>We encourage you to contact us if you have any concerns about any of the privacy policies shown on the site.</p>